<ul class="topnav" id="myTopnav">
    <li><a href="/">Home</a></li>
    <li><a href="/webpubl">Webové publikovanie</a></li>
    <li><a href="/bakproj">Bakalársky projekt</a></li>
    <li><a href="/profil">Developerský profil</a></li>
    <li><a href="/hobby">Hobby</a></li>
    <li><a href="/contact">Kontakt</a></li>
    <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
</ul>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>